extends layout

block content
    html
        head
            title Crawl a url
            script( type='text/javascript', src='/javascripts/addbk1.js' )
            div(class='page-header')
                h1 WebCrawler
                p A simple crawler built using NodeJs and ExpressJs.
        body
            div(style='width: 600px; text align:center; position: absolute; top:220px; left:340px; border-radius:8px;')
                h2 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter a url:
                form(id = 'myform', action='/results', method='POST', class='form-horizontal')
                    div(class='form-group')
                        label(class='col-sm-2 control-label') 
                            Link
                        div(class='col-sm-10')
                            input(type='text', name='link',  id='link', required='required', class='form-control', placeholder='Enter the url here')
                    div(class='form-group')
                        label(class='col-sm-2 control-label')
                            Tags
                        div(class='col-sm-10')
                            input(type='number', name='count', id='count', required='required', class='form-control', placeholder='Maximum no. of links to be fetched')
                    div(class='btn-group', style='position:absolute; top:160px; left:106px;')
                        input(type='submit', value='Crawl links', class='btn btn-primary pull-left', id='add', style='margin-right:10px')
                        input(type='reset', value='erase', class='btn btn-primary')